/* body, html {
    margin: 0;
    padding: 0;
    height: 100%;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}
/* body{
    background: url('/Jharkhand/jonha.jpg');
    background-size: cover;
    height: 100vh;
    background-position: center;
   
} */
.content{
    padding: 40px;
}
.content h2{
      font-size: 40px;
}
.content p{
    color: yellow;
    font-size: 20px;
}

.content a{
    text-decoration: none;
}
.content a button{
    font-size: 1.6em;
    background: transparent;
    color: white;
    
}

.content a button:hover{
    font-size: 2rem;
    color: yellow;
    border-bottom: 2px solid orangered;
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 9;
    box-shadow: 0 0 10px #000;
    background: rgba(0,0,0,0.5);
}
#chk1{
    display:none;
}
header .logo-homepage{
    flex: 1;
    color: #fff;
    margin-left: 50px;
    text-transform: uppercase;
    font-size: 100%;
}
header .logo-homepage h1{
    color: #f2f2f2;
}
header .search-box{
    flex: 1;
    position: relative;
}
.search-box input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: #f2f2f2;
    border-radius: 30px;
    color: gray;
    font-size: 16px;
    text-align: center;
    padding-left: 5px;
    padding-right: 40px;
}
.search-box button{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: none;
    position:absolute;
    top: 5px;
    right: 0;
    transform: scale(0.9);
    background: greenyellow;
}
header ul{
    flex: 2;
    display: flex;
    justify-content: space-evenly;
}
header ul li{
    list-style: none;
}
header ul li a,i{
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase ;
    padding: 5px 10px;
}
header ul li a,i{
    font-style: normal;
    cursor: pointer;
}
header ul li  i:hover{
    border-bottom: 2px solid cadetblue;
}
header ul li a:hover{
    border-bottom: 2px solid cadetblue;
}
header .menu{
    font-size: 2.5em;
    display: none;
}
@media(max-width:1000px){
    .search-box button{
        position: absolute;
    }
    header ul{
        position: fixed;
        top:100px;
        right: -100%;
        background: rgba(0,0,0,0.5);
        height: calc(100vh - 100px);
        width: 50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }
    header .menu{
        display: block;
        width: 100px;
        text-align: center;
    }
    #chk1:checked ~ ul{
        right: 0;;
    }
    
}
@media(max-width:600px){
    header .logo{
        font-size: 10px;
        margin-left: 8px;
    }
    header ul{
        width: 100%;
    }
}
 .video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
} 

 #background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
} 
 #background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
     /* Adjust the transition speed as needed */
} 
 .video-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.384); /* Adjust the background color and opacity as needed */
    z-index: 2;
    transition: opacity 1s ease;  /*Adjust the transition speed as needed */
} 


 .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 2;
} 
.content p{
    margin-top: 5%;
    margin-bottom: 6%;
    font-size: 160%;
}
.content a button{
    margin-top: 2%;
    color: wheat;
    background: rgba(0, 0, 0, 0.384);
}
.change-content:after{
    content: '';
    animation: changetext 10s infinite linear;
}
@keyframes changetext{
    0%{content:"Odisha"; color: aqua;}
    20%{content:"Jharkhand"; color: green;}
    30%{content:"Delhi"; color: #e70cca;}
    40%{content:"Goa"; color: orchid;}
    50%{content:"Sikkim"; color: khaki;}
    60%{content:"Himachal";color: crimson;}
    80%{content:"Kerala";color: yellow;}
    100%{content:"Rajasthan";color: orange;}
     
}

/* Registration of Login Page */

main{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration{
    min-height: 10rem;
    min-width: 20vw;  
    background-color: gray;
     position: absolute;
     color: white;
     /* border: 2px solid brown; */
    left: 50%;
    top: -50%; 
    transform: translate(-50%,-50%);
    transition: 0.7s; 
    z-index: 999;
}
.registration .grid-two--column .form-text button{
    font-size: 25px;
    
}
.registration .registration-form{
    background-color: beige;
    color: black;
}
.login{
    min-height: 10rem;
    min-width: 20vw;  
    background-color: gray;
    position: absolute;
    color: white;
    /* border: 2px solid brown; */
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    transition: 0.7s; 
    z-index: 999;
}
.login .login-form{
    background-color:beige;
    color: black;
}
.login .grid-two--column .form-text button{
    font-size: 25px;
}
.grid-two--column{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.form-text{
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image:  linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(login.jpg); 
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center; 
    padding: 3rem 2rem; 
}


.form-text p{
    width: 30ch;
    text-align: center;
    margin: 2rem 0 3rem 0;
}

.form-text button{
    background-color: #fff;
    color: #000;
    /* border-radius: 10px; */

}

.form-text button{
    background-color: #fff;
    color: #000;
    /* border-radius: 10px; */

}
.form-text button:hover{
    background-color: transparent;
    color: #fff;
}

.registration-form,.login-form{
    width: 100%;
    min-height: 25vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.registration-form p,.login-form p{
    margin: 1rem 0 1.7rem 0;
}

.social-icons{
    display: flex;
    gap: 1.4rem;
    margin: 1rem 0 .6rem 0;

}

.social-icons .fa-brands{
    width:2.2rem;
    height: 2.2rem;
    border: 0.1rem solid grey;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

input{
    width: 15rem;
    margin: 0.3rem 0;
    border:none;
    background-color: #e8e8e8;
    padding: 0.6rem 0.8rem;
    letter-spacing: 0.07;
}

input[type="submit"]{
    /* margin-top: 1rem; */
    min-width: 10rem;
    background-color: rgb(68, 68, 241);
    color: #fff;   
}

.registration:not(.login-section--display){
    display: none;
}

.login-section--display .registration{
    display: block;
}

.login-section--display .login{
    display: none;
}

.registration-form span{
    color: red;
    background-color: transparent ;
    position: sticky;
    margin-left: 90%;
    
    /* width: 8%; */
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    font-family: bold;
    font-weight: bold;
}

.registration-form span:hover{
    background-color: red;
    color: white;
    width: 8%;
}

.login-form span{
    color: red;
    background-color: transparent ;
    position: sticky;
    margin-left: 90%;
    
    /* width: 8%; */
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    font-family: bold;
    font-weight: bold;
}

.login-form span:hover{
    background-color: rgb(240, 250, 215);
    width: 8%;
}

.show-form{
    top:50%;
    /* z-index: 999; */
}

@media screen  and (max-width: 768px) {
    
    .grid-two--column{
       grid-template-columns: 1fr;
    }
   

   .registration-header .container, .home-header .container{
       flex-direction: column;
       gap: 1rem;
   }
   
   .registration, .login{
       min-width: 90vw;
   }
   .form-text{
       order: 1;
   }
   .registration, .login{
       order: 0;
   }
   .form-text p{
       width: 25ch;
   }
  
}